<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.kt.SmartStamp">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <dist:module dist:instant="true" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.kt.SmartStamp.activity.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.kt.SmartStamp.activity.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.kt.SmartStamp.activity.ConnectActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.kt.SmartStamp.activity.ConnectAdminActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.kt.SmartStamp.activity.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.kt.SmartStamp.activity.TermsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.kt.SmartStamp.activity.DetailReadyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.kt.SmartStamp.activity.DetailListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.kt.SmartStamp.activity.DetailCompleteActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.kt.SmartStamp.activity.DetailHistoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ActivityImageSelector"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Sub" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TitleBar" />

        <activity
            android:name=".activity.Activity_ImageViewer_Multi"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.StatusBar.Transparent" />

        <service android:name=".service.BleService"
            android:enabled="true"
            android:exported="true"/>

        <!-- 프로바이더 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>